apiVersion: v1
data:
  BOOTSTRAP_SERVERS: <CONFLUENT_CLOUD_BOOSTRAP_SERVERS>
  SASL_JAAS_CONFIG: org.apache.kafka.common.security.plain.PlainLoginModule required
    username="<CONFLUENT_CLOUD_API_KEY>" password="<CONFLUENT_CLOUD_API_SECRET>";
kind: ConfigMap
metadata:
  name: confluent-cloud-sample-app-config
  namespace: default

